html {
  font-size: 18px;
}

body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sitecontainer {
  width: 960px;
}

.heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heading span {
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 1rem;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}

.heading img {
  margin-left: 0.5rem;
  margin-right: 1rem;
  height: 1.5rem;
}

.banner {
  max-width: 960px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.bannertext {
    position: relative;
    top: 9em;
    font-family: helvetica, sans-serif;
    background-color: black;
    color: white;
    width: 20rem;
    font-weight: bold;
}

.bannertext h4{
  font-size: 1rem;
}

.bannertext h1 {
  font-size: 2rem;
}
