html {
  font-size: 18px;
}

body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sitecontainer {
  width: 960px;
}

.heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heading span {
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 1rem;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}

.heading img {
  margin-left: 0.5rem;
  margin-right: 1rem;
  height: 1.5rem;
}

.banner {
  max-width: 960px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.bannertext {
    position: relative;
    top: 9em;
    font-family: helvetica, sans-serif;
    background-color: black;
    color: white;
    width: 20rem;
    font-weight: bold;
    margin-left: 3rem;
}

.bannertext h4{
  font-size: 1rem;
  padding-top: 2rem;
  padding-left: 3rem;
}

.bannertext h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2rem;
  width: 100%;
  background-color: firebrick;
}

.navigation span {
  color: white;
  padding: 0.75rem 0rem;
  font-family: helvetica, sans-serif;
}

.items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20rem;
  background-color: white;
}

.items img {
  height: 9rem;
  padding: 2rem 0rem;
  border: 4px solid black;
  width: 30%;
}

.pen span {
  
}
